<div class="container-fluid fade" ng-class="{in:ready}">
  <div class="row">
    <div class="col-md-12">
      <div ng-repeat="item in list" class="col-md-3">
        <div class="panel panel-default" style="overflow: hidden; min-height: 200px" >
          <div class="panel-heading">
            <a href="/#/{{item.type}}/{{item._id}}">{{item._id | limitTo : 20}}</a>
          </div>
          <div class="panel-body">
            <p><ul class="taglist"><li ng-repeat="tag in item.tags" class="tag">{{tag}}</li></ul></p>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>