<div class="panel panel-default fade" ng-class="{in:ready}">
  <div class="panel-heading clearfix">


    <button class="btn btn-default pull-right" ng-click="close()">
      <span class="glyphicon glyphicon-remove"></span>
    </button>

    <h4 class="pull-left">{{object._id}}</h4>

    <button class="btn btn-default" style="margin-left: 20px" ng-show="!starred && !new" ng-click="star()" >
      <span class="glyphicon glyphicon-star"/>
    </button>

    <button class="btn btn-success" style="margin-left: 20px" ng-show="starred  && !new" ng-click="star()">
      <span class="glyphicon glyphicon-star"/>
    </button>

    <button style="margin-left: 20px" ng-click="form()" ng-show="!new" class="btn btn-danger">RAW</button>

    <button style="margin-left: 20px" ng-hide="editing" ng-click="editing=1" class="btn btn-default">
      <span class="glyphicon glyphicon-pencil"/>
    </button>

  </div>

  <div class="panel-body">

    <div class="container-fluid">

      <!-- Read only mode -->
      <div ng-show="!editing">
        <pre class="code">{{text}}</pre>
      </div>

      <!-- Editing mode -->
      <div ng-show="editing">
        <textarea class="form-control code" rows="20" ng-model="text"></textarea>
      </div>

    </div> <!-- container-fluid -->

  </div> <!-- panel-body -->

  <div class="panel-footer clearfix" ng-show="editing">

    <button ng-click="deleting=1" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-trash"></span>
    </button>

    <span ng-show="deleting">
      <button style="margin-left: 20px" ng-click="deleting=0" type="button" class="btn btn-success">
        Keep
      </button>
      <button style="margin-left: 20px" ng-click="delete()" type="button" class="btn btn-danger">
        Delete
      </button>
    </span>

    <button ng-click="save()" type="submit" class="pull-right btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
  </div>

</div>
</form>
