<!DOCTYPE html>
<html lang="en" ng-app="app" style="overflow-y: scroll">
<head>

  <base href="/">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>App</title>

  <!-- jQuery -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>

  <!-- Underscore JS -->
  <script src="/bower_components/underscore/underscore-min.js"></script>

  <!-- AngularJS -->
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-route/angular-route.min.js"></script>

  <!-- Angular UI ng-grid -->
  <link rel="stylesheet" type="text/css" href="/bower_components/angular-ui-grid/ui-grid.min.css" />
  <script type="text/javascript" src="/bower_components/angular-ui-grid/ui-grid.min.js"></script>

  <!-- Twitter Bootstrap -->
  <link  href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link  href="/include/animate.css" rel="stylesheet">
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>  
  <script src="/bower_components/bootstrap/js/tooltip.js"></script>

  <!-- Angular UI: Bootstrap UI Popover plugin depends on Angular 1.2 !!! no go -->
  <!--
    <script src="/bower_components/bootstrap-ui/src/popover/popover.js"></script>
    <script src="/bower_components/bootstrap-ui/src/tooltip/tooltip.js"></script>
  -->
  <!-- Angular Google Maps -->
    <!-- 
    <script src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="/bower_components/bluebird/js/browser/bluebird.js"></script>
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script src="/bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
  -->

  <!-- Moment.js /w Twix component and Numeral.js -->
  <script src="/bower_components/moment/min/moment.min.js"></script>
  <script src="/bower_components/twix/bin/twix.min.js"></script>
  <script src="/bower_components/numeral/min/numeral.min.js"></script>

  <!-- Timeseries graphs: Highstock -->
  <script src="/bower_components/highstock-release/highstock.js"></script>
  <script>Highcharts.setOptions({global: { useUTC: false }});</script>

  <!-- JavaScript editing: CodeMirror + JSHint (2.5.6 needed?) -->
  <link  href="/bower_components/codemirror/lib/codemirror.css" rel="stylesheet">
  <link  href="/bower_components/codemirror/theme/elegant.css" rel="stylesheet">
  <script src="/bower_components/codemirror/lib/codemirror.js"></script>
  <script src="/bower_components/codemirror/mode/javascript/javascript.js"></script>
  <script src="/bower_components/codemirror/mode/r/r.js"></script>
  <script src="/bower_components/codemirror/addon/edit/matchbrackets.js"></script>
  <script src="/bower_components/codemirror/addon/edit/closebrackets.js"></script>
  <script src="/bower_components/codemirror/addon/lint/lint.js"></script>
  <script src="/bower_components/codemirror/addon/lint/javascript-lint.js"></script>
  <script src="/bower_components/jshint/dist/jshint.js"></script>

  <link  href="/bower_components/json-formatter/dist/json-formatter.css" rel="stylesheet">
  <script src="/bower_components/json-formatter/dist/json-formatter.js"></script>

  <!-- Support for file uploads from AngularJS -->
  <script src="/bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>

  <!-- Infinite Scroll -->
  <script src="/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>

  <!-- Drag & Drop support -->
  <script src="/include/drag-n-drop.js"></script>

  <!-- Generate valid UUID's -->
  <script src="/include/uuid.js"></script>

  <!-- Socket.io -->
  <script src="/socket.io/socket.io.js"></script>

  <!-- AngularJS App -->
  <script src="/index.js"></script>
  <script src="/auth.js"></script>

  <!-- AngularJS Socket.io Service -->
  <script src="/services/socket.io.js"></script>

  <!-- Credits: https://github.com/mateu-aguilo-bosch/message-center -->
  <script src="/include/messages.js"></script>

  <!-- AngularJS Directives -->
  <script src="/directives/taginput.js"></script>
  <script src="/directives/taglist.js"></script>
  <script src="/directives/graph.js"></script>
  <script src="/directives/timeseries.js"></script>
  <script src="/directives/javascript.js"></script>
  <script src="/directives/rscript.js"></script>
  <script src="/directives/timeslice.js"></script>
  <script src="/directives/reference.js"></script>
  <script src="/directives/tree.js"></script>
  <script src="/directives/process.js"></script>
  <script src="/directives/file.js"></script>
  <script src="/directives/header.js"></script>
  <script src="/directives/password.js"></script>
  <script src="/directives/progressbar.js"></script>
  <script src="/directives/datatable.js"></script>

  <!-- AngularJS Controllers -->
  <script src="/controllers/home.js"></script>
  <script src="/controllers/list.js"></script>
  <script src="/controllers/edit.js"></script>
  <script src="/controllers/pivot.js"></script>
  <script src="/controllers/raw.js"></script>
  <script src="/controllers/upload.js"></script>
  <script src="/controllers/automate.js"></script>
  <script src="/controllers/share.js"></script>

  <!-- Custom CSS -->
  <link href="index.css" rel="stylesheet">

  <style>
    #login {
      -webkit-animation-duration: 0.5s;
      /*-webkit-animation-delay: 2s;*/
      /*-webkit-animation-iteration-count: infinite;*/
      -moz-animation-duration: 0.5s;
      /*-moz-animation-delay: 2s;*/
      /*-moz-animation-iteration-count: infinite;*/
    }
  </style>
</head>


<body ng-controller="index" style="margin-top: 100px">

  <!-- Top menu -->
  <nav id="menu" class="navbar navbar-default navbar-inverse navbar-fixed-top" ng-show="authenticated()" style="border-bottom: 5px solid #337ab7; padding: 10px">
    <div class="container" ng-class="expandedView?'container-fluid':'container'">
      <img src="/images/cube.png" width="50" height="50" style="float: left; margin-right: 10px"/>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/home" style="color: white" >
          DATABOX
        </a>
        <p class="navbar-text">Signed in as {{user.name}}</p>

      </div>

      <ul class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="/{{user._id}}/upload"><span class="glyphicon glyphicon-upload"></span> &nbsp; Upload</a></li>
          <li><a href="/{{user._id}}"><span class="glyphicon glyphicon-book"></span> &nbsp; Browse</a></li>
          <li><a href="/{{user._id}}/pivot"><span class="glyphicon glyphicon-stats"></span> &nbsp; Pivot</a></li>
          <!-- <li><a href="/{{user._id}}/automate"><span class="glyphicon glyphicon-cog"></span> &nbsp; Automate</a></li> -->
          <!-- <li><a href="/{{user._id}}/share"><span class="glyphicon glyphicon-share"></span> &nbsp; Share</a></li> -->
        </ul>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">

            <li ng-repeat="star in stars"><a href="/#/{{star}}"><span class="glyphicon glyphicon-star"></span> &nbsp; {{star}}</a></li>
            <li ng-if="stars.length" role="separator" class="divider"></li>
            <li><a href="/#/home"><span class="glyphicon glyphicon-user"></span> &nbsp; {{user.name}}</a></li>
            <li><a href="/#/users/{{user._id}}"><span class="glyphicon glyphicon-cog"></span> &nbsp; Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="" ng-click="logout()"><span class="glyphicon glyphicon-off"></span> &nbsp; Log off</a></li>

          </ul>
        </li>
      </ul>

    </div>
  </nav>

  <div ng-show="!authenticated()" class="container">
    <div class="col-sm-10 col-sm-offset-1" id="login">

      <form class="form" ng-hide="signinup">

        <div class="form-group">

          <h2 class="col-sm-12" style="margin-bottom: 0.7em">Please sign in <small> ... or <button type="button" class="btn-link" ng-click="signinup=true">sign up now!</button></small></h2>
        </div>
        <div class="form-group">
          <div class="col-sm-5">
            <input ng-model="username" ng-disabled="authenticating" type="token" class="form-control" id="inputUsername" placeholder="Username" required autofocus>
          </div>
          <div class="col-sm-5">
            <input ng-model="password" ng-disabled="authenticating" type="password" class="form-control" id="inputPassword" placeholder="Password" required>
          </div>
          <div class="col-sm-2">
            <button ng-click="login()" ng-show="!authenticating" ng-disabled="!username || !password || authenticating" type="submit" value="Login" class="btn btn-primary">Sign in</button>
            <button ng-show="authenticating" type="button" class="btn btn-default"><img src="/images/loading.gif"/></button>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <hr/>
            <strong ng-show="error">{{error}}</strong>
            <p class="text-muted" style="margin-top: 20px"><img src="/images/cube.png" width="50" height="50" style=""/> DataBox &copy; 2015</p>
          </div>
        </div>

      </form>

      <form class="form-horizontal" ng-show="signinup">

        <div class="form-group">
          <h2 class="col-sm-12" style="margin-bottom: 0.7em">Let's sign you up <small> ... or <button type="button" class="btn-link" ng-click="signinup=false">just sign in!</button></small></h2>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Username:</label>
          <div class="col-sm-9">
            <input ng-model="username" ng-disabled="authenticating" type="token" class="form-control" id="inputUsername" placeholder="username" required>          
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Full name:</label>
          <div class="col-sm-9">
            <input ng-model="name" ng-disabled="authenticating" type="text" class="form-control" id="inputUsername" placeholder="full-name" required autofocus>    
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Email:</label>
          <div class="col-sm-9">
            <input ng-model="email" ng-disabled="authenticating" type="email" class="form-control" id="inputUsername" placeholder="email" required>          
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Password:</label>
          <div class="col-sm-9">
            <input ng-model="password" ng-disabled="authenticating" type="password" class="form-control" id="inputUsername" placeholder="password" required>          
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Repeat:</label>
          <div class="col-sm-9">
            <input ng-model="password1" ng-disabled="authenticating" type="password" class="form-control" id="inputUsername" placeholder="password" required>          
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label"></label>
          <div class="col-sm-9">
            <button ng-click="signup()" ng-show="!authenticating" ng-disabled="!username || !password || !password1 || password != password1 || authenticating" type="submit" value="Login" class="pull-right btn btn-success">Sign up</button>
            <button ng-show="authenticating" type="button" class="pull-right btn btn-default"><img src="/images/loading.gif"/></button>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <hr/>
            <strong ng-show="error">{{error}}</strong>
            <p class="text-muted" style="margin-top: 20px"><img src="/images/cube.png" width="50" height="50" style=""/> DataBox &copy; 2015</p>
          </div>
        </div>

      </form>

    </div>  

    <div class="col-sm-10 col-sm-offset-1">

    </div>

  </div>

  <div id="view" ng-if="authenticated()" class="container" ng-class="expandedView?'container-fluid':'container'">
    <div ng-view></div>
  </div>

</body>
</html>
