<div class="col-sm-3" ng-repeat="item in ngModel">
  <div class="panel panel-default" ng-class="{'panel-success':item.done,'panel-warning':item.skip,'panel-danger':item.fail,'panel-primary':current($index)}" style="overflow: hidden;" >
    <div class="panel-heading">

      Step: {{$index + 1}}

      <span ng-if="item.skip" class="pull-right glyphicon glyphicon-arrow-right"></span>
      <span ng-if="item.done" class="pull-right glyphicon glyphicon-ok"></span>
      <span ng-if="item.fail" class="pull-right glyphicon glyphicon-remove"></span>

    </div>
    <div class="panel-body" style="height: 160px; position: relative;">
      <p>{{item.description}}</p>
      <p ng-show="passed($index)" style="font-size: small"><em></em></p>

      <div ng-show="current($index)" style="text-align: right; position: absolute; bottom: 12px; right: 12px;">
        <button ng-click="skip($index)" class="btn btn-warning"><span class="glyphicon glyphicon-arrow-right"></span></button>          
        <button ng-click="fail($index)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
        <button ng-click="done($index)" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
      </div>

    </div>
  </div>
</div>

<div class="col-sm-3">
  <div class="panel" style="overflow: hidden; border: 1px dashed #eee" >
    <div class="panel-heading" >
      Add step {{ngModel.length + 1}}
    </div>
    <div class="panel-body" style="height: 160px; position: relative;">
      <textarea class="form-control" ng-model="description" placeholder="(description)"></textarea>
      <div ng-show="current($index)" style="text-align: right; position: absolute; bottom: 12px; right: 12px;">
        <button ng-click="add()" class="btn btn-default" ng-disabled="!addable()">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>

    </div>          
  </div>
</div>

