

<div ng-show="editing">
	<div class="input-group">

		<input type="text" class="form-control" ng-model="ngModel" ng-change="search()">
		<span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="editing = false">Done</button>
    </span>
	</div>
	<a class="btn btn-xs"  ng-repeat="item in results" title="{{item._tags.join(' ')}}" ng-click="select(item._id)" data-toggle="tooltip" data-placement="top">{{item._id}}</a>
	<button class="btn btn-xs btn-default" ng-click="more()">More</button>
</div>

<div ng-show="!editing">
	<a class="btn btn-default" href="/{{col}}/{{ngModel}}" target="new">{{ngModel||"N/A"}}</a>
	<a class="lnk lnk-default" ng-click="editing = true" href="">Edit</a>
</div>

<!-- <pre>{{ngModel}}</pre> -->