<div class="input-group">  
  <input type="text" class="form-control" ng-model="ngModel" ng-change="search()" placeholder="({{name}})">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      {{results.length}}{{results.length == 10?'+':''}}
      {{level}}
      &nbsp; <span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <li><a href="" ng-repeat="item in results" ng-click="select(item)">{{item}}</a></li>
      <li ng-if="results.length == 10"><a href="">...</a></li>
    </ul>
  </div>
</div>

<!-- <pre>{{ngModel}}</pre> -->