
<div class="row">
  <div class="col-sm-12" ng-hide="edit">
    <graph ng-model="ts" name="{{name}}" style="height: 145px"></graph>
  </div>
  <div class="col-sm-12" ng-show="edit">
    <textarea ng-model="csv" class="form-control code" rows="7"  style="height: 145px; font-family: monospace; font-size: small;"></textarea>
  </div>
</div>

<style>
  /* Does this work on touch devices? */
  .lightup       { opacity: 0.5; }
  .lightup:hover { opacity: 1.0; }
</style>

<div class="row form-group lightup form-inline" ng-show="!new" style="margin-bottom: -10px;">
  <div class="col-sm-12">

    <div class="btn-group">
      
      <button type="button" class="btn btn-default" ng-click="shiftOffset(-1)">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>

      <button type="button" ng-click="nextUnit()"    class="btn btn-default">{{unitCode}}{{offset>=0?'+':''}}{{offset}}</button>
    
      <button type="button" class="btn btn-default" ng-click="shiftOffset(+1)">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    
    </div>

    
    <button ng-show="edit" type="button" class="btn btn-default" ng-click="edit=0" style="margin-left: 0.5em;">
       <span class="glyphicon glyphicon-stats"></span>
    </button>

    <button ng-hide="edit" type="button" class="btn btn-default" ng-click="edit=1" style="margin-left: 0.5em;">
       <span class="glyphicon glyphicon-pencil"></span>
    </button>

    <a class="btn btn-default" href="/api/{{collection}}/{{id}}/timeseries/{{timeseries}}/csv" target="new">
      CSV
    </a>

    <a class="btn btn-default" href="/api/{{collection}}/{{id}}/timeseries/{{timeseries}}/excel?timezone={{timezone}}&period={{unitCode}}{{offset>=0?'+':''}}{{offset}}" target="new">
      <img src="/images/xls.png" width="16" height="16"/>
    </a>

  </div>
</div>

<!-- <pre>{{ts}}</pre> -->
