
<div class="col-sm-6" style="padding-left: 0">
	<h3 style="margin-top: 1em">Things to do every <strong>time</strong> <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#timeJob"><span class="glyphicon glyphicon-plus"></span></button></h3>
	<hr/>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="item in hour">
			<a href="">{{item.name}}</a>
		</li>
		<li class="list-group-item">
			<reference ng-model="" col = "{{collection}}" id = "{{id}}" name ="{{field.name}}"></reference>
		</li>
	</ul>
</div>

<div class="col-sm-6">
	<h3 style="margin-top: 1em">Things to do every <strong>event</strong> <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#eventJob"><span class="glyphicon glyphicon-plus"></span></button></h3>
	<hr/>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="item in day">
			<span class="badge">{{item.at}}</span>
			<a href="">{{item.name}}</a>
		</li>
	</ul>
</div>

