<div class="container">

<!-- 	<h1>Automate things</h1>
	<hr />
 -->
	<div class="col-sm-4" style="padding-left: 0">
		<h3 style="margin-top: 1em">Things to do every <strong>hour</strong></h3>
		<hr/>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="item in hour">
				<a href="">{{item.name}}</a>
			</li>
		</ul>
	</div>
	
	<div class="col-sm-4">
		<h3 style="margin-top: 1em">Things to do every <strong>day</strong></h3>
		<hr/>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="item in day">
				<span class="badge">{{item.at}}</span>
				<a href="">{{item.name}}</a>
			</li>
		</ul>
	</div>

	<div class="col-sm-4" style="padding-right: 0">
		<h3 style="margin-top: 1em">Things to do every <strong>week</strong></h3>
		<hr/>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="item in week">
				<span class="badge">{{item.at}}</span>
				<a href="">{{item.name}}</a>
			</li>
		</ul>
	</div>

</div>

