


<style>
	.panel-update {
		box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(102, 175, 232, 0.52549) 0px 0px 6.99039793014526px 0px;
		border-color: rgb(106, 176, 232);
	}
</style>

<div id="main-panel" class="panel panel-default fade" ng-class="{in:ready}">
  <div class="panel-heading clearfix">

<!-- style="background-color: white; opacity: 0.8; border-radius: 4px; padding: 0.5em" -->


  <h3 style="padding-left: 0.6em; padding-right: 0.5em; margin: 0; margin-top: 0.2em" class="pull-left">{{doc._id}} <small ng-if="doc._update" title="{{doc._update}}">updated {{doc._update | fromNow}}</small>
</h3>

    <button class="btn btn-default pull-right" style="margin-right: 0.3em" ng-click="close()">
      <span class="glyphicon glyphicon-remove"></span>
    </button>

    <button type="button" class="btn btn-default pull-right" style="margin-right: 0.3em" ng-click="deleting=!deleting" ng-show="!new">
      <span class="glyphicon glyphicon-trash"/>
    </button>

    <button type="button" class="btn btn-danger pull-right" style="margin-right: 0.3em" ng-show="deleting" ng-click="delete()">
      Delete?
    </button>

    <button type="button" class="btn btn-default pull-right" style="margin-right: 0.3em" ng-click="raw()" ng-show="!new">
      RAW
    </button>

    <button type="button" class="btn btn-default pull-right" style="margin-right: 0.3em" ng-click="editTemplateStart()" ng-hide="editTemplate">
      <span class="glyphicon glyphicon-pencil"/>
    </button>
    <button type="button" class="btn btn-warning pull-right" style="margin-right: 0.3em" ng-click="editTemplateStop()" ng-show="editTemplate">
      <span class="glyphicon glyphicon-pencil"/>
    </button>

    <button type="button" class="btn btn-default pull-right" style="margin-right: 0.3em" ng-show="!new" ng-click="save()">
      <span class="glyphicon glyphicon-floppy-disk"/>
    </button>


    <button type="button" class="btn btn-default pull-right" style="margin-right: 0.3em" ng-show="!starred && !new" ng-click="star()">
      <span class="glyphicon glyphicon-star-empty"/>
    </button>
    <button type="button" class="btn btn-success pull-right" style="margin-right: 0.3em" ng-show="starred  && !new" ng-click="star()">
      <span class="glyphicon glyphicon-star"/>
    </button>



    <style ng-if="!editTemplate">label {display: none;}</style>

    <h4 class="hidden-xs" ng-hide="1">{{doc._id}}
    <small ng-if="doc._update" title="{{doc._update}}">updated {{doc._update | fromNow}}</small>
    </h4>

  </div>

  <style>
    
    .clean-inputs > div > .form-control {
      border: 0px solid white;
      box-shadow: none;
      border-bottom: 1px dashed #ddd;
      border-radius: 0;
    }

    .clean-inputs > div > .form-control[disabled="disabled"]{
      cursor: default;
      background-color: white;
      opacity: 1;
    }

  </style>

  <style ng-if="editTemplate">
    .templateField0:hover {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 1em;
    }

    .templateField0:hover {
      background-color: white;
      box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
    }
  </style>

  <!-- Google Maps -->
  <style>
    .angular-google-map-container { height: 200px; }

    .angular-google-map {

    }

    .angular-google-map-container {
      border-radius: 8px;
      border: 1px solid black;
    }

  </style>


  <!-- panel-body -->
  <div class="panel-body doc">
  
    <!-- ID of document -->
    <div class="form-group col-sm-12" ng-hide="1">
      <label class="control-label">_id</label>
      <h3>{{doc._id}}</h3>
    </div>


    <!-- New documents can assign an id -->
      <div class="form-group col-sm-12" ng-show="new">
        <label class="control-label">_id</label>
        <div class="">
          <input type="text" class="form-control" ng-model="doc._id" ng-disabled="!new">
        </div>
      </div>

      <!-- Tag list -->
      <div class="form-group col-sm-12" style="margin-top: 0.5em">
        <label class="control-label">tags</label>
          <taginput ng-model="doc._tags" ng-disabled="!editing"></taginput>
      </div>

      <!-- Template items -->
      <div class="form-group clean-inputs col-sm-{{field.width || 12}} templateField" ng-repeat="field in doc._template track by field.name">

        <div ng-show="editTemplate">

          <button type="button" title="Remove {{field.name}}" class="btn btn-xs btn-danger" ng-click="removeTemplateField($index)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>          

          <label class="control-label" title="{{field.type}}">{{field.name}}</label>

          <div class="btn-group pull-right">
            <button type="button" title="Move {{field.name}} up" class="btn btn-xs btn-success" ng-click="shiftTemplateField($index, -1)" ng-disabled="$index == 0">
              <span class="glyphicon glyphicon-chevron-up"></span>
            </button>          
            <button type="button" title="Move {{field.name}} down" class="btn btn-xs btn-success" ng-click="shiftTemplateField($index, +1)"  ng-disabled="$index == doc._template.length - 1">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
          </div>

          <div class="btn-group pull-right">
            <button type="button" title="Make {{field.name}} 1 width" class="btn btn-xs btn-success" ng-click="widthTemplateField($index, 12)">
              1
            </button>          
            <button type="button" title="Make {{field.name}} 1/2 width" class="btn btn-xs btn-success" ng-click="widthTemplateField($index, 6)">
              1/2
            </button>
            <button type="button" title="Make {{field.name}} 1/3 width" class="btn btn-xs btn-success" ng-click="widthTemplateField($index, 4)">
              1/3
            </button>
            <button type="button" title="Make {{field.name}} 1/4 width" class="btn btn-xs btn-success" ng-click="widthTemplateField($index, 3)">
              1/4
            </button>
          </div>

        </div>

        <!-- Primitive data types (should autosave on changes) -->
        <input      ng-change="autosaveEventually(field.name)" ng-blur="autosaveNow(field.name)" ng-if="field.type == 'text'"       ng-model="doc[field.name]" ng-disabled="!editing" type="text" class="form-control" placeholder="({{field.name}})">
        <input      ng-change="autosaveEventually(field.name)" ng-blur="autosaveNow(field.name)" ng-if="field.type == 'number'"     ng-model="doc[field.name]" ng-disabled="!editing" type="number" class="form-control" placeholder="({{field.name}})">
        <input      ng-change="autosaveEventually(field.name)" ng-blur="autosaveNow(field.name)" ng-if="field.type == 'date'"       ng-model="doc[field.name]" ng-disabled="!editing" type="date" class="form-control">
        <input      ng-change="autosaveEventually(field.name)" ng-blur="autosaveNow(field.name)" ng-if="field.type == 'time'"       ng-model="doc[field.name]" ng-disabled="!editing" type="time" class="form-control">
        <textarea   ng-change="autosaveEventually(field.name)" ng-blur="autosaveNow(field.name)" ng-if="field.type == 'textarea'"   ng-model="doc[field.name]" ng-disabled="!editing" class="form-control code" rows="9" placeholder="({{field.name}})" style="margin-bottom: -10px; font-size: small; font-family: monospace"></textarea>

        <!-- Fields that contact the API directly -->
        <javascript ng-if="field.type == 'javascript'" ng-model="doc[field.name]" ng-disabled="!editing" col       ="{{collection}}" id="{{id}}" script="{{field.name}}"></javascript>
        <rscript    ng-if="field.type == 'rscript'"    ng-model="doc[field.name]" ng-disabled="!editing" col       ="{{collection}}" id="{{id}}" script="{{field.name}}"></rscript>
        <password   ng-if="field.type == 'password'"   ng-model="doc[field.name]" ng-disabled="!editing" collection="{{collection}}" id="{{id}}" name  ="{{field.name}}"></password>

        <!-- Fields that are simply using ngModel of current scope -->
        <timeslice  ng-if="field.type == 'timeslice'"  ng-model="doc[field.name]" ng-disabled="!editing" name="{{field.name}}"></timeslice>
        <reference  ng-if="field.type == 'reference'"  ng-model="doc[field.name]" ng-disabled="!editing" name="{{field.name}}"></reference>
        <tree       ng-if="field.type == 'tree'"       ng-model="doc[field.name]" ng-disabled="!editing" name="{{field.name}}"></tree>
        <process    ng-if="field.type == 'process'"    ng-model="doc[field.name]" ng-disabled="!editing" name="{{field.name}}"></process>
        <file       ng-if="field.type == 'file'"       ng-model="doc[field.name]" ng-disabled="!editing" name="{{field.name}}"></file>
        <header     ng-if="field.type == 'header'"     ng-model="doc[field.name]" ng-disabled="!editing" name="{{field.name}}"></header>

        <!-- Google Maps -->
        <ui-gmap-google-map ng-if="field.type == 'googlemaps'" center="doc[field.name].center" zoom="doc[field.name].zoom" options="doc[field.name].options"></ui-gmap-google-map>

        <!-- Timeseries -->
        <timeseries ng-if="field.type == 'timeseries'" ng-model="doc.data[field.name]"
          new         = "{{new}}"
          collection  = "{{collection}}"
          id          = "{{doc._id}}"
          timeseries  = "{{field.name}}"
          saving      = "saving"
          ng-disabled = "!editing">
        </timeseries>

      </div>

      <!-- Non-Template items -->
      <div class="form-group clean-inputs col-sm-{{columns}}" ng-repeat="(key, value) in doc" ng-if="additional(key)">
        <label class="control-label">{{key}}</label>
        <div class="">
          <input ng-change="autosaveEventually(key)" ng-blur="autosaveNow(key)" type="text"   class="form-control" ng-model="doc[key]" ng-disabled="!editing" placeholder="({{key}})">
        </div>
      </div>
      <!-- /Non-Template items -->

      <!-- New doc properties -->
      <div class="form-group col-sm-{{columns}}" ng-show="new || editTemplate">
        <label class="control-label">
          new property:
        </label>
        <div class="">

          <div class="input-group">
            <input type="text" class="form-control" ng-model="newPropertyName" placeholder="(new property)">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default" ng-click="addProperty('text')" ng-disabled="!newPropertyOk()">Add</button>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="!newPropertyOk()"><span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="" ng-click="addProperty('textarea')">textarea</a></li>
                <li><a href="" ng-click="addProperty('number')">number</a></li>
                <li><a href="" ng-click="addProperty('date')">date</a></li>
                <li><a href="" ng-click="addProperty('time')">time</a></li>
                <li><a href="" ng-click="addProperty('timeslice')">timeslice</a></li>
                <li><a href="" ng-click="addProperty('reference')">reference</a></li>
                <li><a href="" ng-click="addProperty('timeseries')">timeseries</a></li>
                <li><a href="" ng-click="addProperty('javascript')">javascript</a></li>
                <li><a href="" ng-click="addProperty('rscript')">rscript</a></li>
                <li><a href="" ng-click="addProperty('googlemaps')">googlemaps</a></li>
                <li><a href="" ng-click="addProperty('tree')">tree</a></li>
                <li><a href="" ng-click="addProperty('process')">process</a></li>
                <li><a href="" ng-click="addProperty('file')">file</a></li>
                <li><a href="" ng-click="addProperty('header')">header</a></li>
                <li><a href="" ng-click="addProperty('password')">password</a></li>
                <li><a href="" ng-click="addProperty('hidden')">hidden</a></li>
              </ul>
            </div><!-- /btn-group -->
          </div><!-- /input-group -->

        </div>
      </div>
      <!-- /New doc properties -->

  </div> <!-- panel-body -->

  <!-- panel-footer -->
  <div class="panel-footer clearfix" ng-show="editing && new">


    <button ng-click="create()" type="submit" class="pull-right btn btn-primary">
      <span class="glyphicon glyphicon-floppy-disk"></span> Create
    </button>

    <div class="checkbox pull-right" style="margin-right: 20px">
        <input type="checkbox" ng-model="saveAsTemplate" ng-change="asTemplate()"> Create as template?
    </div>

  </div>
  <!-- /panel-footer -->

</div>

<!-- <pre>{{doc}}</pre> -->
