<div class="container-fluid fade" ng-class="{in:ready}">
  <div class="row">
    <div class="col-md-12">
      <div ng-repeat="item in list" class="col-md-3">
        <div class="panel panel-default" style="overflow: hidden; min-height: 200px" >
          <div class="panel-heading">
            <a href="/#/{{item.type}}/{{item._id}}">{{item._id | limitTo : 20}}</a>
          </div>
          <div class="panel-body">
            <p><ul class="taglist"><li ng-repeat="tag in item._tags" class="tag">{{tag}}</li></ul></p>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="col-sm-6">
  <h3>R-script Command Reference</h3>

  <h6>Generic functions</h6>
  <pre>
  ts.periodicity(x, ...) 
  ts.intervalParse(interval)
  ts.intervalSeconds(interval)
  ts.ISOformat(time)
  ts.ISOparse(string)
  </pre>

  <h6>Timeseries vector functions</h6>
  <pre>
  ts.mean(ts, na.rm=TRUE)
  ts.sum(ts, na.rm=TRUE)
  ts.min(ts, na.rm=TRUE)
  ts.max(ts, na.rm=TRUE)
  ts.na(ts)
  ts.len(ts)
  ts.seq(from, to, interval = "1d")
  ts.ones(from, to, interval = "1d")
  ts.zeros(from, to, interval = "1d")
  ts.random(from, to, interval = "1d")
  </pre>

  <h6>UI Trigger functions</h6>
  <pre>
  trigger(collection, id, property = NULL)
  trigger.my(property = NULL)
  </pre>

  <h6>Context sensivite document functions</h6>
  <pre>
  doc(collection, id)
  doc.n(collection, regex)
  </pre>

  <h6>Timeseries functions</h6>
  <pre>
  ts(timeseries = 'timeseries', id = NULL, collection = NULL)  
  ts.save(ts, collection = 'timeseries', id = NULL, timeseries = 'timeseries')
  ts.new(base, interval, vector)
  ts.n(list)
  </pre>

  <h6>Multi-Timeseries fetch functions</h6>
  <pre>
  ts.list(regex)
  ts.m(regex, parse = FALSE, vectorize = TRUE)
  </pre>

  <h6>Row sums and means functions</h6>
  <pre>
  ts.rsum(ts, na.rm=TRUE)
  ts.rmean(ts, na.rm=TRUE)
  </pre>

  <h6>Context-sensitive My/Me functions</h6>
  <pre>
  my(property, value=NULL)
  my.ts(timeseries='timeseries', ts=NULL)
  </pre>

  <h6>Tree compute functions</h6>
  <pre>
  tree.compute(tree)
  tree(collection, id, tree)
  my.tree(tree = NULL)
  </pre>

</div>

<div class="col-sm-6">

  <h3>JavaScript Command Reference</h3>

  <h6>HTTP functions</h6>
  <pre>
  get(url)
  put(data, url)
  post(data, url)
  </pre>
  <h6>File functions</h6>
  <pre>
  read(filename)
  write(data, filename)
  dir(path)
  </pre>
  <h6>Database functions</h6>
  <pre>
  list(collection, query) 
  load(collection, id, fields) 
  save(collection, id, object) 
  </pre>
  <h6>UI Trigger functions</h6>
  <pre>
  trigger(collection, id, variable)
  triggermy(variable)
  triggerme()
  </pre>
  <h6>Context sensitive document fetch</h6>
  <pre>
  doc(id, collection)
  </pre>
  <h6>Context sensitive Me/My varables</h6>
  <pre>
  me()
  my(variable, value)
  </pre>
  <h6>Timeseries</h6>
  <pre>
  ts(name, id, collection)
  myts(name, timeseries, overwrite)
  </pre>  
</div>
