<div class="container">
  <div class=""><h1>Welcome to your DataBox</h1></div>
  <hr/>

  <div class="row">
    <div class="col-sm-3">
      <div class="thumbnail">
        <img src="/images/store.png" alt="...">
        <div class="caption">
          <h3>Store</h3>
          <p>Freely store data in our cloud with our user centric forms</p>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="thumbnail">
        <img src="/images/analyze.png" alt="...">
        <div class="caption">
          <h3>Analyze</h3>
          <p>Quickly analyze your dataset using Javascript and R</p>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="thumbnail">
        <img src="/images/automate.png" alt="...">
        <div class="caption">
          <h3>Automate</h3>
          <p>Automatically gather data and run computations</p>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="thumbnail">
        <img src="/images/expose.png" alt="...">
        <div class="caption">
          <h3>Expose</h3>
          <p>Create API's and give your customers access to your data</p>
        </div>
      </div>
    </div>
  </div>
  <hr/>

  <p>
    <a class="btn btn-success btn-lg" href="/#/{{user._id}}/upload" role="button">Upload your data now &nbsp; <span class="glyphicon glyphicon-upload"></span></a>
    ... or ...
    <a class="btn btn-primary btn-lg" href="/#/{{user._id}}" role="button">Start adding data manually &nbsp; <span class="glyphicon glyphicon-pencil"></span></a>
  </p>

</div>