


<div class="container-fluid" style="padding-left: 2em; padding-right: 2em">
  
<div class="page-header">

  <button type="button" class="btn btn-default pull-right" style="margin-right: 0.3em" ng-click="add()">
    <span class="glyphicon glyphicon-plus"/>
  </button>

  <button type="button" class="btn pull-right" ng-class="{'btn-warning':edit,'btn-default':!edit}" style="margin-right: 0.3em" ng-click="edit=!edit">
    <span class="glyphicon glyphicon-pencil"/>
  </button>

  <h1>Home <small>logged in as {{user.name}}</small></h1>

</div>

<div ng-if="!edit" ng-repeat="item in items" class="col-md-{{item.columns}}" style="height: {{item.height}}px; margin: 0; padding: 0;">
  {{$index}} details
</div>

<div ng-repeat="item in items" ng-if="edit">

  <div id="before-{{item.id}}" class="before-item" style="display: none; background-color: green; opacity: 0.5"></div>  

  <div id="{{item.id}}" class="col-md-{{item.columns}}" style="height: {{item.height}}px; background-color: inherit">
    <!-- {{item.id}} -->
  </div>

</div>

<!-- ondragstart: to: item-0 -->
<!-- ondragleave: to: item-0 -->
<!-- ondragenter: to: item-1 -->
<!-- ondragover:  to: item-1 -->
<!-- ondragleave: to: item-1 -->
<!-- ondragend:   to: item-0 -->
