<style>
.watermark {
  position: absolute;
  top : 140px;
  opacity: 0.25;
  font-size: 3em;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

.grid-align {
  text-align: center;
}

</style>

<span id="angularhook"></span>

<div class="container-fluid">

  <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-selection ui-grid-exporter class="grid" style="margin-bottom: 1em">
    <div class="watermark" ng-show="!gridOptions.data.length">No data</div>
  </div>

  <div class="row" ng-show="showTags">
    <div class="col-sm-8"><div class="form-group"><taginput ng-model="tags" name="tags" style="margin-bottom: 1em"></taginput></div></div>
    <div class="col-sm-4"><select class="form-control" ng-model="template" ng-change="updateFields()"><option ng-repeat="template in templates">{{template}}</option></select></div>
  </div>

  <form class="form-inline form-group">

    <button type="button" class="btn btn-default btn-sm pull-right" ng-click="hideFields=(!hideFields && (group.length + measures.length))" style="margin-bottom: 0.5em; margin-right: 0.5em"><span class="glyphicon glyphicon-eye-open"></span></button>
    <button type="button" class="btn btn-default btn-sm pull-right" ng-click="showTags=!showTags" style="margin-bottom: 0.5em; margin-right: 0.5em"><span class="glyphicon glyphicon-tags"></span></button>
    <!-- <button type="button" class="btn btn-default btn-sm pull-right" ng-click="showSearch=!showSearch" style="margin-bottom: 0.5em; margin-right: 0.5em"><span class="glyphicon glyphicon-search"></span></button> -->
    <input type="text" class="form-control input-sm pull-right" placeholder="Search fields" ng-model="search" ng-change="filter()" style="margin-bottom: 0.5em; margin-right: 0.5em"></input>

    <div class="btn-group" ng-repeat="item in group" style="margin-bottom: 0.5em; margin-right: 0.5em">
      <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{item}} &nbsp; <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="" ng-click="removeGroup(item)"><strong>Remove</strong> {{item}}</a></li>
      </ul>
    </div>

    <div class="btn-group" ng-repeat="item in measures" style="margin-bottom: 0.5em; margin-right: 0.5em">
      <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{item[0]}}({{item[1]}}) &nbsp; <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="" ng-click="removeMeasure(item)"><strong>Remove</strong> {{item[0]}}({{item[1]}})</a></li>
      </ul>
    </div>

    <!-- <button ng-click="removeGroup(item)" type="button" ng-repeat="item in group" style="margin-right: 0.5em; margin-bottom: 0.5em" class="btn btn-danger btn-sm">{{item}} &nbsp; <span class="glyphicon glyphicon-remove"></span></button> -->
    <!-- <button ng-click="removeMeasure(item)" type="button" ng-repeat="item in measures" style="margin-right: 0.5em; margin-bottom: 0.5em" class="btn btn-danger btn-sm"><strong>{{item[0]}}</strong>({{item[1]}}) &nbsp; <span class="glyphicon glyphicon-remove"></span></button> -->

    <div ng-hide="hideFields" class="btn-group" ng-repeat="item in selection | limitTo:(showAll?NaN:5)" style="margin-bottom: 0.5em; margin-right: 0.5em">
      <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{item}} &nbsp; <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="" ng-click="addGroup(item)"><strong>Group</strong> by <em>{{item}}</em></a></li>
        <li role="separator" class="divider"></li>
        <li><a href="" ng-click="addMeasure(['sum', item])"><strong>Sum</strong> over <em>{{item}}</em></a></li>
        <li><a href="" ng-click="addMeasure(['avg', item])"><strong>Average</strong> over <em>{{item}}</em></a></li>
        <li><a href="" ng-click="addMeasure(['min', item])"><strong>Min</strong> over <em>{{item}}</em></a></li>
        <li><a href="" ng-click="addMeasure(['max', item])"><strong>Max</strong> over <em>{{item}}</em></a></li>
      </ul>
    </div>

    <div ng-hide="hideFields" class="btn-group" style="margin-bottom: 0.5em; margin-right: 0.5em">
      <button type="button" class="btn btn-link btn-sm" ng-hide="showAll" ng-click="showAll = true">Show all</button>
      <button type="button" class="btn btn-link btn-sm" ng-show="showAll" ng-click="showAll = false">Show less</span></button>
    </div>

  </form>

  <div ng-show="group.length || measures.length" >
    <hr/>
    <button type="button" class="btn btn-success btn-lg" ng-click="savePivot()">Save Pivot &nbsp; <span class="glyphicon glyphicon-floppy-disk"></span></button>
    <a class="btn btn-link" ng-if="message" href="/{{collection}}/{{savedId}}">{{message}}</a>
  </div>
  
</div>
