
<style ng-if="!editTemplate">
  label {
    /*display: none;*/
  }
</style>

<style>

  .clean-inputs > div > .form-control {
    border: 0px solid white;
    box-shadow: none;
    border-bottom: 1px dashed #ddd;
    border-radius: 0;
  }

  .clean-inputs > div > .form-control[disabled="disabled"]{
    cursor: default;
    background-color: white;
    opacity: 1;
  }

</style>

<!-- Google Maps -->
<style>
  .angular-google-map-container {
    height: 200px;
    border-radius: 8px;
    border: 1px solid black;
  }
</style>

<style ng-if="editTemplate">

  .templateField {
    background-color: white;
  }

  .templateField:hover {
    background-color: white;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
  }

  .editTemplateContainer {
    padding: 1em;
  }

  .editTemplateControls {
    padding-bottom: 1em;
  }

  .editTemplateItem {
    display: block;
    border: 1px dashed #ccc;
    padding: 1em;
    border-radius: 10px;
  }

  .newTemplateItem {
    border: 1px dashed #ccc;
    padding: 1em;
    border-radius: 10px;
  }
</style>

<div ng-if="message">
  <h1>{{message}}</h1>
  <p>You reached a publicly shared document which seem to have expired.</p>
</div>


<!-- panel -->
<div id="main-panel" class="panel panel-default fade" ng-class="{in:ready}">

  <!-- panel-heading -->
  <div class="panel-heading clearfix">

    <!-- title -->
    <h3 style="padding-left: 0.6em; padding-right: 0.5em; margin: 0; margin-top: 0.2em" class="pull-left">{{doc._id}} <small ng-if="doc._update" title="{{doc._update}}">updated {{doc._update | fromNow}}</small></h3>

  </div>
  <!-- /panel-heading -->

  <!-- panel-body -->
  <div class="panel-body">

    <!-- _id (only new documents) -->
    <div class="form-group col-sm-12" ng-show="new">
      <label class="control-label">_id</label>
      <div class="">
        <input type="text" class="form-control" ng-model="doc._id" ng-disabled="!new">
      </div>
    </div>
    <!-- /_id (only new documents) -->

    <!-- _tags -->
    <div class="form-group col-sm-12" style="margin-top: 0.5em">
      <!-- <label class="control-label">tags</label> -->
      <taginput ng-model="doc._tags" ng-disabled="!editing"></taginput>
    </div>
    <!-- /_tags -->

    <!-- _template -->
    <div ng-repeat="field in doc._template track by field.name">

      <!-- before field, visual helper for drag-and-drop -->
      <div id="before-field-{{field.name}}" class="before-field" style="display: none; background-color: green; opacity: 0.5"></div>

      <!-- _template[i] -->
      <div class="editTemplateContainer form-group clean-inputs col-sm-{{field.width || 12}} templateField" id="field-{{field.name}}">

        <label class="control-label" title="{{field.type}}">{{field.name}}</label>

        <!-- template field controls -->
        <div ng-show="editTemplate" class="editTemplateControls pull-right">

          <!-- align left -->
          <div class="btn-group">

            <!-- remove template field -->
            <button type="button" title="Remove {{field.name}}" class="btn btn-xs btn-danger" ng-click="removeTemplateField($index)"><span class="glyphicon glyphicon-trash"></span></button>          

            <!-- change width of template field -->
            <button type="button" title="Make {{field.name}} 1 width" class="btn btn-xs btn-success" ng-click="widthTemplateField($index, 12)">
              1
            </button>          
            <button type="button" title="Make {{field.name}} 1/2 width" class="btn btn-xs btn-success" ng-click="widthTemplateField($index, 6)">
              1/2
            </button>
            <button type="button" title="Make {{field.name}} 1/3 width" class="btn btn-xs btn-success" ng-click="widthTemplateField($index, 4)">
              1/3
            </button>
            <button type="button" title="Make {{field.name}} 1/4 width" class="btn btn-xs btn-success" ng-click="widthTemplateField($index, 3)">
              1/4
            </button>
            <button type="button" title="Make {{field.name}} 1/6 width" class="btn btn-xs btn-success" ng-click="widthTemplateField($index, 2)">
              1/6
            </button>
            <!-- /change width of template field -->

            <!-- change position of template field -->
            <button type="button" title="Move up" class="btn btn-xs btn-success" ng-click="shiftTemplateField($index, -1)" ng-disabled="$index == 0" disabled="disabled"><span class="glyphicon glyphicon-chevron-up"></span></button>          
            <button type="button" title="Move down" class="btn btn-xs btn-success" ng-click="shiftTemplateField($index, +1)" ng-disabled="$index == doc._template.length - 1"><span class="glyphicon glyphicon-chevron-down"></span></button>
            <!-- /change position of template field -->


          </div>
          <!-- /align left -->

        </div>
        <!-- /template field controls -->


        <!-- Primitive data types (should autosave on changes) -->
        <input         ng-change="autosaveEventually(field.name)" ng-blur="autosaveNow(field.name)" ng-if="field.type == 'text'"       ng-model="doc[field.name]" ng-disabled="!editing" type="text" class="form-control" placeholder="({{field.name}})">
        <input         ng-change="autosaveEventually(field.name)" ng-blur="autosaveNow(field.name)" ng-if="field.type == 'number'"     ng-model="doc[field.name]" ng-disabled="!editing" type="number" class="form-control" placeholder="({{field.name}})">
        <input         ng-change="autosaveEventually(field.name)" ng-blur="autosaveNow(field.name)" ng-if="field.type == 'date'"       ng-model="doc[field.name]" ng-disabled="!editing" type="date" class="form-control">
        <input         ng-change="autosaveEventually(field.name)" ng-blur="autosaveNow(field.name)" ng-if="field.type == 'time'"       ng-model="doc[field.name]" ng-disabled="!editing" type="time" class="form-control">
        <textarea      ng-change="autosaveEventually(field.name)" ng-blur="autosaveNow(field.name)" ng-if="field.type == 'textarea'"   ng-model="doc[field.name]" ng-disabled="!editing" class="form-control code" rows="9" placeholder="({{field.name}})" style="margin-bottom: -10px; font-size: small; font-family: monospace; border: 1px solid #ccc; border-radius: 4px"></textarea>

        <!-- Fields that contact the API directly -->
        <javascript    ng-if="field.type == 'javascript'"   ng-model="doc[field.name]" ng-disabled="!editing" col       ="{{collection}}" id="{{id}}" script="{{field.name}}"></javascript>
        <rscript       ng-if="field.type == 'rscript'"      ng-model="doc[field.name]" ng-disabled="!editing" col       ="{{collection}}" id="{{id}}" script="{{field.name}}"></rscript>
        <password      ng-if="field.type == 'password'"     ng-model="doc[field.name]" ng-disabled="!editing" collection="{{collection}}" id="{{id}}" name  ="{{field.name}}"></password>

        <!-- Fields that are simply using ngModel of current scope -->
        <timeslice     ng-if="field.type == 'timeslice'"    ng-model="doc[field.name]" ng-disabled="!editing" name="{{field.name}}"></timeslice>
        <reference     ng-if="field.type == 'reference'"    ng-model="doc[field.name]" ng-disabled="!editing" name="{{field.name}}"></reference>
        <tree          ng-if="field.type == 'tree'"         ng-model="doc[field.name]" ng-disabled="!editing" name="{{field.name}}"></tree>
        <process       ng-if="field.type == 'process'"      ng-model="doc[field.name]" ng-disabled="!editing" name="{{field.name}}"></process>
        <file          ng-if="field.type == 'file'"         ng-model="doc[field.name]" ng-disabled="!editing" name="{{field.name}}"></file>
        <header        ng-if="field.type == 'header'"       ng-model="doc[field.name]" ng-disabled="!editing" name="{{field.name}}"></header>
        <progressbar   ng-if="field.type == 'progressbar'"  ng-model="doc[field.name]" ng-disabled="!editing" name="{{field.name}}"></progressbar>
        <taginput      ng-if="field.type == 'taginput'"     ng-model="doc[field.name]" ng-disabled="!editing" name="{{field.name}}"></taginput>
        <!-- <datatable     ng-if="field.type == 'datatable'"    ng-model="doc[field.name]" ng-disabled="!editing" name="{{field.name}}"></datatable> -->

        <div ng-if="field.type == 'table'" ui-grid="{ data: 'doc[field.name]' }" ui-grid-selection ui-grid-exporter class="grid" style="margin-bottom: 1em"></div>


        <!-- Google Maps -->
        <ui-gmap-google-map ng-if="field.type == 'googlemaps'" center="doc[field.name].center" zoom="doc[field.name].zoom" options="doc[field.name].options"></ui-gmap-google-map>

        <!-- Timeseries -->
        <timeseries ng-if="field.type == 'timeseries'" ng-model="doc.data[field.name]"
        new         = "{{new}}"
        collection  = "{{collection}}"
        id          = "{{doc._id}}"
        timeseries  = "{{field.name}}"
        saving      = "saving"
        ng-disabled = "!editing"></timeseries>

        <!-- JSON object: credits: https://github.com/mohsen1/json-formatter -->
        <json-formatter ng-if="field.type == 'json'" json="doc[field.name]" open="1" style="font-size: small; border: 1px solid #ccc; border-radius: 4px; padding: 1em;"></json-formatter>


      </div>
      <!-- /_template[i] -->

    </div>
    <!-- /_template -->

    <!-- non _template fields -->
    <div class="form-group clean-inputs col-sm-{{columns}}" ng-repeat="(key, value) in doc" ng-if="additional(key)">
      <label class="control-label">{{key}}</label>
      <div class="">
        <input ng-change="autosaveEventually(key)" ng-blur="autosaveNow(key)" type="text"   class="form-control" ng-model="doc[key]" ng-disabled="!editing" placeholder="({{key}})">
      </div>
    </div>
    <!-- /non _template fields -->

    <!-- new _template field -->
    <div class="form-group col-sm-{{columns}} newTemplateItem" ng-show="new || editTemplate">
      <label class="control-label">
        new property:
      </label>

      <div class="input-group">
        <input type="text" class="form-control" ng-model="newPropertyName" placeholder="(new property)">
        <div class="input-group-btn">
          <button type="submit" class="btn btn-default" ng-click="addProperty('text')" ng-disabled="!newPropertyOk()">Add</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="!newPropertyOk()"><span class="caret"></span></button>
          <ul style="margin-bottom: 80px" class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a href="" ng-click="addProperty('textarea')">Text data</a></li>
            <li><a href="" ng-click="addProperty('datatable')">Tabular data</a></li>
            <li><a href="" ng-click="addProperty('json')">JSON data</a></li>

            <li class="divider"></li>

            <li><a href="" ng-click="addProperty('header')">Heading</a></li>
            <li><a href="" ng-click="addProperty('progressbar')">Progress-bar</a></li>

            <li class="divider"></li>

            <li><a href="" ng-click="addProperty('javascript')">Business logic</a></li>

            <!-- <li><a href="" ng-click="addProperty('number')">number</a></li> -->
            <!-- <li><a href="" ng-click="addProperty('date')">date</a></li> -->
            <!-- <li><a href="" ng-click="addProperty('time')">time</a></li> -->
            <!-- <li><a href="" ng-click="addProperty('timeslice')">timeslice</a></li> -->
            <!-- <li><a href="" ng-click="addProperty('reference')">reference</a></li> -->
            <!-- <li><a href="" ng-click="addProperty('timeseries')">timeseries</a></li> -->
            <!-- <li><a href="" ng-click="addProperty('rscript')">rscript</a></li> -->
            <!-- <li><a href="" ng-click="addProperty('googlemaps')">googlemaps</a></li> -->
            <!-- <li><a href="" ng-click="addProperty('tree')">tree</a></li> -->
            <!-- <li><a href="" ng-click="addProperty('process')">process</a></li> -->
            <!-- <li><a href="" ng-click="addProperty('file')">file</a></li> -->
            <!-- <li><a href="" ng-click="addProperty('password')">password</a></li> -->
            <!-- <li><a href="" ng-click="addProperty('option')">option</a></li> -->
            <!-- <li><a href="" ng-click="addProperty('hidden')">hidden</a></li> -->
          </ul>
        </div><!-- /btn-group -->
      </div><!-- /input-group -->


    </div>
    <!-- /new _template field -->

  </div>
  <!-- /panel-body -->

</div>
<!-- /panel -->
