<style>
  .panel-update {
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(102, 175, 232, 0.52549) 0px 0px 6.99039793014526px 0px;
    border-color: rgb(106, 176, 232);
  }
</style>

<div style="margin: 20px;" id="main-panel" class="panel panel-default fade" ng-class="{in:ready}">

  <div class="panel-heading clearfix">


  <h3 style="padding-left: 0.6em; padding-right: 0.5em; margin: 0; margin-top: 0.2em" class="pull-left">{{doc._id}}</h3>

    <button class="btn btn-default pull-right" style="margin-right: 0.3em" ng-click="close()">
      <span class="glyphicon glyphicon-remove"></span>
    </button>

    <button type="button" class="btn btn-default pull-right" style="margin-right: 0.3em" ng-show="!new" ng-click="save()">
      <span class="glyphicon glyphicon-floppy-disk"/>
    </button>

  </div>


  <!-- panel-body -->
  <div class="panel-body doc">

    <textarea class="form-control code" style="font-size: small" rows="26" ng-model="text"></textarea>

  </div> <!-- panel-body -->

<!-- 
  <div class="panel-body doc">

    <json-formatter json="doc"></json-formatter>

  </div>
 -->

</div>

