
  <progressbar ng-model="progress"></progressbar>

  <taginput ng-show="data" name="tags" ng-model="tags"></taginput>
  <h2 ng-if="file">{{file.name}} <small>({{file.rows}} rows, {{file.columns}} columns, {{file.size | bytes}})</small></h2>
  <button class="btn btn-success" ng-show="data" ng-disabled="saved" ng-click="save()">Save data &nbsp; <span class="glyphicon glyphicon-save"></span></button>

  <hr />

  <style>
  .drop-box {
    padding: 2em;
    text-align: center;
    font-size: x-large;
    font-style: italic;
  }
  </style>

  <div ng-show="!data" ngf-drop="" ngf-select="" ng-model="files" ng-model-rejected="rejFiles" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box well well-lg ng-valid ng-dirty" ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'" ngf-drop-available="dropAvailable">
    Click here to upload or simply drop your XLSX document here
    <br/>
    <img src="/images/upload-help.png" style="opacity: 0.2; margin-top: 1em" />
  </div>


  <div ng-if="data">

    <style>
    .gridStyle { height: 400px;}
    </style>

    <div ui-grid="{ data: data }" ui-grid-selection ui-grid-exporter class="grid"></div>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Uploading data to DataBox</h4>
        </div>
        <div class="modal-body">
          <p>To upload data from your computer to your DataBox, make sure you:</p>
          <ol>
            <li>Have an Excel 2007 or newer sheet prepared (.xlsx)</li>
            <li>Your Excel sheet has only 1 tab (remove all others)</li>
            <li>Your Excel sheet is 1 table of rows</li>
            <li>The columns in your table have unique column names</li>
            <li>Optionally have your first column contain unique ids for each row</li>
          </ol>
          <p>Here follows an example of a perfect upload Excel sheet:</p>
          <p><img src="/images/upload-help.png"/></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
